body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #020617;
    color: #f1f5f9;
}

.text-gradient {
    background: linear-gradient(135deg, #60a5fa 0%, #2dd4bf 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-tech {
    background: rgba(30, 41, 59, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
}

.card-tech:hover {
    border-color: #3b82f6;
    transform: translateY(-4px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
}

.scroll-indicator {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

/* Estilização da Barra de Scroll Personalizada */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.3);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.8);
}

::selection {
    /* Cor do texto selecionado */
    color: #ffffff;
    /* Cor de fundo da seleção */
    background-color: rgba(45, 212, 191, 0.35);
}

/* Para navegadores antigos que não suportam ::selection */
::-moz-selection {
    color: #ffffff;
    background-color: rgba(45, 212, 191, 0.35);
}